.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #8a3555; /* dark blue */
  color: white;
  padding: 20px;
}

.sidebar-header {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin: 15px 0;
}

.menu li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.menu li a:hover,
.menu li.active a {
  background-color: #3b82f6; /* blue highlight */
}

.icon {
  margin-right: 10px;
}