.topbar{
height:60px;
background:#3a3a3a;
display:flex;
justify-content:flex-end;
align-items:center;
padding-right:20px;
position:relative;
}

.profile-circle{
width:35px;
height:35px;
background:#ff5aa5;
border-radius:50%;
cursor:pointer;
}

.profile-menu{
position:absolute;
right:10px;
top:60px;
background:#ddd;
padding:10px;
width:150px;
}